* {
    box-sizing: border-box;
    background-color: lavender;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    justify-self: center;
}
h1 {
    color: midnightblue;
}
h2 {
    color: midnightblue;
    font-size: 20px;
    font-style: italic;
    background-color: white;
}
.links {
    border: 2px solid white;
    border-radius: 10%;
    width: fit-content;
    padding: 30px;
    margin: 30px;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(204, 204, 224);
}
#website-header {
    border-bottom: solid black;
    padding-top: 40px;
    padding-bottom: 25px;
    margin-bottom: 30px;
}
@media screen and (max-width: 700px) {
    h1 {
        text-align: center;
    }
}